<a href="https://colab.research.google.com/github/Neethu-Aradhya/PYTHON-V2-files/blob/main/Python_C1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**class 1**  on 8/10/2023

**Python Introduction**

**What is Python?**
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

**It is used for:**

web development (server-side),
software development,
mathematics,
system scripting.

**What can Python do?**

1. Python can be used on a server to create web applications.
2. Python can be used alongside software to create workflows.
3. Python can connect to database systems. It can also read and modify files.
4. Python can be used to handle big data and perform complex mathematics.
5. Python can be used for rapid prototyping, or for production-ready software development.

**Why Python?**


1.  Python works on different platforms (Windows, Mac, Linux, Raspberry Pi,
   etc).
2.  Python has a simple syntax similar to the English language.
3. Python has syntax that allows developers to write programs with fewer lines
 than some other programming languages.
4. Python runs on an interpreter system, meaning that code can be executed as s
  oon as it is written. This means that prototyping can be very quick.
5. Python can be treated in a procedural way, an object-oriented way or a
   functional way.
6. Python is commonly used for developing websites and software, task automation, data analysis, and data visualisation.

**Python Syntax compared to other programming languages**
1. Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
3. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

*Python is a dynamic, high-level, free open source, and interpreted programming language. It supports object-oriented programming as well as procedural-oriented programming. In Python, we don't need to declare the type of variable because it is a dynamically typed language.

Python is an interpreted programming language, this means that as a developer you write Python (.py) files in a text editor and then put those files into the python interpreter to be executed.

**EXAMPLE**

In [ ]:
a=2.3   # flote
y=8     #int

print("value:",a)

value: 2.3

**Python Indentation**

Indentation refers to the spaces at the beginning of a code line.
Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

In [ ]:
#Example

#Syntax Error:

if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

**Python Variables**

In Python, variables are created when you assign a value to it:

In [ ]:
name="neethu"#string
print(name)

neethu

In [ ]:
student=input("enter your name:")

print(student)

enter your name:neethu
neethu

**Creating a Comment**

Comments can be used to explain Python code.

Comments can be used to make the code more readable

Comments starts with a  #  , and Python will ignore them:

In [ ]:
#print the output
print("Hello, World!")

**Multiline Comments**

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

**Python Variables**

**Variables**

Variables are containers for storing data values.

**Creating Variables**

Python has no declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
if 5>2:
  print("yes it is")

yes it is

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
a=100
b=200
if b>=a:
  print("b is greater than a")
else:
  print("a is greater than b")

b is greater than a

In [ ]:
a=200
b=200
if b>a:
  print("b is greater than a")
elif a==b :
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

List is []

In [ ]:
myFriends=["sita",2,3.5]
print(myFriends[0])

sita

In [ ]:
c="hourse ridding"
d=2
print(bool(c))
print(bool(d))

True
True

**Python Data Types**

Variables can store data of different types, and different types can do different things.

Text Type:	str
Numeric Types:	int, float, complex

Boolean Type:	bool

Sequence Types:	list

In [ ]:
x = 5
print(type(x))

                           ** Class 2**  on 15/10/2023

**List**  []

Lists are used to store multiple items in a single variable.

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**List Length**

To determine how many items a list has, use the **len()** function:

**Access Items**

List items are indexed and you can access them by referring to the index number:

In [ ]:
#Index always starts from 0
# Index -   0         1          2
#    x = ["apple", "banana", "cherry"]
x = ["apple", "banana", "cherry"]
print(len(x))
print(x[1])

3
banana

In [ ]:
fruits= ["apple", "banana", "cherry"]
print(fruits[1])

**Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
x=20
y=10
print(x/y)

2.0

 % Modulus

In [ ]:
x=4
y=2
print(x%y)

0

//  Floor division

In [ ]:
x=15
y=2
print(x//y)

7

In [ ]:
x=15
y=2
print(x//y)

17

![operators.PNG]()

In [ ]:
x = 5

x += 3  # x = x + 3

print(x)

8

In [ ]:
x=5
y=3
print(x!=y)

True

![Capture.PNG]()

In [ ]:
x=5
print(not(x>3 and x<10))

False

**To find average marks of 5 subjects.**

In [ ]:
# Get input from the user for each subject
subject1 = float(input("Enter marks for Subject 1: "))
subject2 = float(input("Enter marks for Subject 2: "))
subject3 = float(input("Enter marks for Subject 3: "))
subject4 = float(input("Enter marks for Subject 4: "))
subject5 = float(input("Enter marks for Subject 5: "))

# Calculate the average
average = (subject1 + subject2 + subject3 + subject4 + subject5) / 5

# Display the result
print("The average marks for the 5 subjects is:", average)

**For Loop**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [ ]:


for i in range(5):
  s= input(":enter your marks:")

print(s)

:enter your marks:1
:enter your marks:2
:enter your marks:3
:enter your marks:4
:enter your marks:5
5

**To find average marks of 5 subjects.**

**using For Loop**

In [ ]:
# Initialize a variable to store the sum of marks
total_marks = 0

# Get input for each subject using a for loop
for i in range(1, 6):  # Loop from 1 to 5 for 5 subjects

    subject = float(input(f"Enter marks for Subject {i}: "))
    total_marks += subject

# Calculate the average
average = total_marks / 5

# Display the result
print("The average marks for the 5 subjects is:", average)

#print(f"The average marks for the 5 subjects is: {average}")

-----------------------------------------------------**C3**------------------------------------------------------------------------

**To Find the leap year**

In [ ]:
# Get input from the user for the year
year = int(input("Enter a year: "))

# Check if it's a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2025
2025 is not a leap year.

**Looping Through a String**

In [ ]:
for x in "apple":
  print(x)

a
p
p
l
e

**String Length**

To get the length of a string, use the **len()** function.

In [ ]:
a = "Hello, World!"
print(len(a))

13

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt = "The best things in life are free!"
print("lona" in txt)

False

**Python For Loops**

A for loop is used for iterating over a sequence

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

**The break Statemen**

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:

  if x == "banana":
    break
  print(x)

apple

**The range() Function**

To loop through a set of code a specified number of times, we can use the **range()** function,
The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

**Note that range(6) is not the values of 0 to 6, but the values 0 to 5.**

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: **range(2, 6),** which means values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
color = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in color:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

----------------------------------------------------**C4**-----------------------------------------------------------

**Python Functions**

A function is a block of code which only runs when it is called.

In [ ]:
def greet(wish):
  print("good  "+ wish)

greet("morning")
greet("afternoon")
greet("evening")
greet("night")

good  morning
good  afternoon
good  evening
good  night

In [ ]:
def my_function():
  print("Hello this is  a function")

**Creating a Function**

In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

**Calling a Function**

To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

**Arguments**

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one **argument (fname)**. When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

**Parameters or Arguments?**

The terms parameter and argument can be used for the same thing: information that are passed into a function.

**From a function's perspective:**

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

**Number of Arguments**
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("lana", "Refsnes")

lana Refsnes

If you try to call the function with 1 or 3 arguments, you will get an error:

In [ ]:
#This function expects 2 arguments, but gets only 1:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

**Default Parameter Value**

In [ ]:
def my_function(country = "India"):
  print("I am from " + country)

my_function("Sweden")

my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Brazil

In [1]:
for x in range(10):
  if x % 2 ==0:
    print("even numbers:" ,x)

even numbers: 0
even numbers: 2
even numbers: 4
even numbers: 6
even numbers: 8

------------------------------------------------------**C5**---------------------------------------

In [ ]:
i=1
while i<6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i=0
while i<6:
  i += 1

  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i=1
while i<6:
  print(i)
  i += 1
else:
  print("i is no longer less then 6")

1
2
3
4
5
i is no longer less then 6

List()

In [ ]:
num =1,2,3,4


print(num[1])

print(list(num))
num.append(5)
print(num)

2
[1, 2, 3, 4]

AttributeError: ignored

In [ ]:
fruits=["aaple","cherry","banana"]
fruits.append("mango")
print(fruits)

['aaple', 'cherry', 'banana', 'mango']

**Task**

In [ ]:
# program to calculate the sum of numbers
# until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number

    # take integer input again
    number = int(input('Enter a number: '))


print('total =', total)

Enter a number: 3
Enter a number: 2
Enter a number: 4
Enter a number: 0
total = 9

In [ ]:
a=2
b=input("enter your name")
while a==2:
  a += 1
  print("hi how r u?",format(b))

  break

enter your namev
hi how r u? v

In [ ]:
# Multiplication table for the number 5 using a for loop
number = 5
#f is format
print(f"Multiplication Table for {number}:")
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Multiplication Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
def greet_user(time):
    """Greet the user based on the time of the day."""
    if 5 <= time < 12:
        return "Good morning!"
    elif 12 <= time < 17:
        return "Good afternoon!"
    elif 17 <= time < 20:
        return "Good evening!"
    else:
        return "Good night!"

# Get input from the user for the current time (24-hour format)
user_time = int(input("Enter the current time (24-hour format): "))

# Call the function and print the greeting
greeting = greet_user(user_time)
print(greeting)

Enter the current time (24-hour format): 2
Good night!

------------------------------------------------------------------------------------C6---------------------------------------------------------------------

**What is a Module?**

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

In [ ]:
https://bootstrap.pypa.io/get-pip.py

In [2]:
import platform

x = platform.system()
print(x)

Linux

In [3]:
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

**Python Datetime**

The ***strftime()*** Method

The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [2]:
import datetime
x = datetime.datetime.now()
print(x)

2023-12-10 01:19:34.293965

In [6]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%x"))

2023
12/10/23

**Built-in Math Functions**

In [7]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The pow(x, y) function returns the value of x to the power of y (xy).

In [8]:
x = pow(4, 3)

print(x)

64

The math.sqrt() method (function), returns the square root of a number:

In [9]:
import math

x = math.sqrt(64)

print(x)

8.0

In [10]:
#Import math library
import math

#Round a number upward to its nearest integer
x = math.ceil(1.4)

#Round a number downward to its nearest integer
y = math.floor(1.4)

print(x)
print(y)

2
1

The math.pi constant, returns the value of PI (3.14...):

In [11]:
import math

x = math.pi

print(x)

3.141592653589793

**Python Dictionaries**

Dictionaries are used to store data values in ***key:value pairs***.

**Syntax**

Variable_name ={
  key1:values1,
  key2:values2
}

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#x = thisdict["model"]
x = thisdict.get("model")
y= thisdict.keys()

z=thisdict["color"]="red"
print(x)
print(z)
#print(y)

Mustang
red

In [29]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

#print(x) #before the change

car["color"] = "white"
car.update({"color": "red"})

print(car) #after the change

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Python File Open**

**File handling** is an important part of any web application.

Python has several functions for creating, reading, updating, and deleting files.

**File Handling**

The key function for working with files in Python is the open() function.

The** open()** function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"**r**" - Read - Default value. Opens a file for reading, error if the file does not exist

"**a**" - Append - Opens a file for appending, creates the file if it does not exist

"**w**" - Write - Opens a file for writing, creates the file if it does not exist

"**x**" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"**t**" - Text - Default value. Text mode

"**b**" - Binary - Binary mode (e.g. images)

**Syntax**

To open a file for reading it is enough to specify the name of the file:

f = **open**("demofile.txt")